entrypoint = "server.js"
modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 3000
externalPort = 80
